{% load static %}
  <!-- Page Content -->
  <div class="container shadow" style="margin-top: 10px; margin-bottom: 100px; padding: 100px;">
        <h1>Produk Desa</h1>
        <br>
        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{% static 'img/Ayam.jpg' %}" alt="">

        <hr>

        <!-- Post Content -->
        <p>Semenjak kemunculan PLTU II banyak lahan yang menjadi lahan pembangunan, masyarakat yang mayoritasnya petani mengalami kehilangan pekerjaan utamanya akan tetapi para warga tidak hanya diam begitu saja, masyarakat membuat kelompok usaha di desa untuk menutupi pekerjaan yang hilang tersebut, dan mulai mandiri membangun usaha seperti Peternak ayam petelor, budidaya lele, dan masih ada banyak lagi usaha yang didirikan. sehingga tingkat pengangguran pun berkurang.</p>

        <p>Rencana kami juga ingin membuat koprasi desa guna untuk mempromosikan produk - produk yang dikelola masyarakat, dan nantinya juga kita ingin membuat lembaga kursus gratis, selain bahasa inggris yang sudah berjalan di Mekarsari kedepannya ada kursus gratis seperti pelatihan lass, bahasa jepang, bahasa korea, marketing, dan lainya yang guna untuk meningkatkan kualitas SDM di desa Mekarsari.</p>

        <blockquote class="blockquote">
          <p class="mb-0">Berbuat baiklah meskipun tidak ada yang melihat mu baik.</p>
          <footer class="blockquote-footer">Mekarsari
            <cite title="Source Title">Admin</cite>
          </footer>
        </blockquote>

        <p>Semoga kedepannya desa Mekarsari menjadi desa yang lebih maju dan mandiri menghasilkan produk - produk lokal yang berkualitas dan memiliki banyak SDM yang berkualitas bukan dari segi ilmu melainkan akhlak dan budi pekerti luhur.</p>

    </div>