{% load static %}
	<!-- Page Content -->
	<div class="container shadow" style="margin-bottom: 100px; padding: 50px 50px; margin-top: -40px;">

	  <!-- Page Heading -->
	  <h1 class="my-4">Berita
	    <small></small>
	  </h1>

	  <div class="row">
	    <div class="col-lg-4 col-sm-6 mb-4">
	      <div class="card h-100">
	        <a href="#"><img class="card-img-top" src="{% static 'img/lampu.jpeg' %}" alt=""></a>
	        <div class="card-body">
	          <h4 class="card-title">
	            <a href="#">Bantuan Penerangan Jalan Di Desa Mekarsari</a>
	          </h4>
	          <p class="card-text">Desa Mekarsari kini menjadi lebih terang dari sebelumya yang hanya memiliki 3 penerangan jalan disetiap sudutnya, dengan bantuan yang diberikan oleh pihak PLN kini Mekarsari menjadi indah di malam hari....</p>
	        </div>
	      </div>
	    </div>
	    <div class="col-lg-4 col-sm-6 mb-4">
	      <div class="card h-100">
	        <a href="#"><img class="card-img-top" src="{% static 'img/tower.jpg' %}" alt=""></a>
	        <div class="card-body">
	          <h4 class="card-title">
	            <a href="#">Akses Internet Cepat Dan Murah Kini Sudah Memasuki Desa Mekarsari</a>
	          </h4>
	          <p class="card-text">Mengingat 2 tahun kebawah, masyarakat sangat sulit mendapatkan akses internet yang cepat dan murah dikarenakan belum ada ISP yang masuk di Mekarsari....</p>
	        </div>
	      </div>
	    </div>
	    <div class="col-lg-4 col-sm-6 mb-4">
	      <div class="card h-100">
	        <a href="#"><img class="card-img-top" src="{% static 'img/ayamberita.jpg' %}" alt=""></a>
	        <div class="card-body">
	          <h4 class="card-title">
	            <a href="#">Peternak Ayam Petelor Di Desa Mekarsari Kini Meningkat</a>
	          </h4>
	          <p class="card-text">Semenjak proyek PLTU II berjalan banyak masyarakat berhenti menjadi petani karena pekerjaan utama hilang, tetapi masyarakat Mekarsari tidak pernah putus asa untuk mencari ide-ide kreatif....</p>
	        </div>
	      </div>
	    </div>
	    <div class="col-lg-4 col-sm-6 mb-4">
	      <div class="card h-100">
	        <a href="#"><img class="card-img-top" src="{% static 'img/lele.jpg' %}" alt=""></a>
	        <div class="card-body">
	          <h4 class="card-title">
	            <a href="#">Ternak Lele Kini Menjadi Sorotan Masyarakat Desa Mekarsari</a>
	          </h4>
	          <p class="card-text">Selain budidaya ayam petelor masyarakat desa Mekarsari juga sebagian memiliki ternak lele dan hal itu menjadi sorotan masyarakat desa....</p>
	        </div>
	      </div>
	    </div>
	    <div class="col-lg-4 col-sm-6 mb-4">
	      <div class="card h-100">
	        <a href="#"><img class="card-img-top" src="{% static 'img/english.jpg' %}" alt=""></a>
	        <div class="card-body">
	          <h4 class="card-title">
	            <a href="#">Kursus Bahasa Inggris Gratis Di Mekarsari</a>
	          </h4>
	          <p class="card-text">Semakin pesatnya dunia industri kini perusahaan sudah banyak memerlukan tenaga atau karyawan yang bisa berbahasa inggris</p>
	        </div>
	      </div>
	    </div>
	    <div class="col-lg-4 col-sm-6 mb-4">
	      <div class="card h-100">
	        <a href="#"><img class="card-img-top" src="{% static 'img/sampah.jpg' %}" alt=""></a>
	        <div class="card-body">
	          <h4 class="card-title">
	            <a href="#">Bantuan Sebanyak 56 Bak Sampah Di Sepanjang Jalan Desa Mekarsari</a>
	          </h4>
	          <p class="card-text">Sering Terjadi penyumbatan di sungai karena sampah plastik menumpuk, dan ditambah kurangnya kesadaran bagi masyarakat yang sering membuang sampah disungai.</p>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- /.row -->

	  <!-- Pagination -->
	  <ul class="pagination justify-content-center">
	    <li class="page-item">
	      <a class="page-link" href="#" aria-label="Previous">
	            <span aria-hidden="true">&laquo;</span>
	            <span class="sr-only">Previous</span>
	          </a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">1</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">2</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#">3</a>
	    </li>
	    <li class="page-item">
	      <a class="page-link" href="#" aria-label="Next">
	            <span aria-hidden="true">&raquo;</span>
	            <span class="sr-only">Next</span>
	          </a>
	    </li>
	  </ul>

	</div>