{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Atur Ulang Kata Sandi" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-5  mx-auto">
            <div class="mt-5 pb-5"></div>

            <div class="card">
                <div class="card-body">

                    <h1 class="h4">{% trans "Atur Ulang Kata Sandi" %}</h1>
                    <hr>

                    {% if user.is_authenticated %}
                        {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p>{% trans "Lupa kata sandi? Masukkan alamat email Anda di bawah ini, dan kami akan mengirimi Anda email yang memungkinkan Anda untuk meresetnya." %}</p>

                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Reset My Password' %}"/>
                    </form>

                    <p>{% blocktrans %}Silakan hubungi kami jika Anda kesulitan mengatur ulang kata sandi Anda.
                        {%  endblocktrans %}</p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
