{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Ubah Kata Sandi" %}{% endblock %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-5  mx-auto">
            <div class="mt-5 pb-5"></div>

            <div class="card">
                <div class="card-body">
                    <h1 class="h4">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Ubah Kata Sandi" %}{% endif %}</h1>
                    <hr>
                    {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}Tautan pengaturan ulang kata sandi tidak valid, mungkin karena sudah digunakan. Silakan minta sebuah <a href="{{ passwd_reset_url }}">reset kata sandi baru</a>.{% endblocktrans %}</p>
                    {% else %}
                    {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" name="action" class="btn btn-primary btn-block" value="{% trans 'change password' %}"/>
                    </form>
                    {% else %}
                    <p>{% trans 'Kata sandi Telah Diubah.' %}</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
